.groupModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 92px;
  .flexBox {
    width: 100%;
    display: flex;
    align-items: center;
    > div:first-child {
      margin-right: 20px;
    }
  }
  .radio {
    display: flex;
    box-sizing: border-box;
    padding: 30px 0px;
    // align-items: center;
  }
  .bottomResult {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
    background: #f5f7fa;
  }
  .bottom {
    margin-top: 0px;
  }
  .star {
    color: red;
  }

  > div:first-child {
    margin-right: 20px;
  }
  > div:last-child {
    flex: 1;
  }

  .ant-input-affix-wrapper {
    width: 100%;
    background: none;
    border: 1px solid #e1e8f0;
  }
  .input-search .ant-input,
  .ant-input-affix-wrapper .ant-input {
    background: none;
  }
}
.ant-modal {
}
.ant-input-textarea {
  width: 100%;
  height: 100%;
}

.ant-modal-body {
  flex: 1;
}
