.customer-info-drawer {
  &-header {
    background-color: #fff;
    padding: 16px 24px;
    .avatar-image {
      border-radius: 4px;
    }
    .customer-name-avatar {
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;
      .customer-name {
        font-size: 16px;
        font-weight: 500;
        color: #262626;
        margin: 0 16px 0 12px;
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      background: rgba(6, 120, 255, 0.1);
      border-radius: 4px;
      padding: 4px;
      .anticon {
        font-size: 32px;
      }
    }
    .ant-descriptions-row {
      // display: flex;
      .ant-descriptions-item {
        // flex: 1;
        height: 32px;
        // display: inline-flex;
        align-items: center;
        padding-bottom: 0px;
        &-container {
          height: 32px;
        }
        &-label {
          align-items: center;
        }
        &-content {
          align-items: center;
          font-weight: 500;
          color: #262626;
        }
      }
    }
    .qiwei-info {
      .ant-descriptions-row .ant-descriptions-item-content {
        font-weight: 400;
      }
    }
  }
  .ant-drawer-header {
    font-size: 16px;
    padding: 11px 24px;
    border-bottom: 1px solid #e1e8f0;
  }
  .ant-drawer-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    // padding-top: 8px;
    background: #f5f7fa;
    .edit-form {
      .ant-card {
        .ant-card-body {
          .ant-form-item {
            margin-bottom: 24px;
          }
        }
      }
    }
    .ant-tabs {
      .ant-tabs-content-holder {
        border-right: 1px solid #e1e8f0;
        background-color: #fff;
      }
      .ant-tabs-nav {
        &::before {
          border: none;
        }
      }
    }

    .ant-card {
      border: none;
      padding: 8px 24px 0;
      .ant-card-body {
        padding: 0;
        padding-top: 8px;
        .ant-form-item {
          align-items: center;
          margin-bottom: 4px;
          .ant-form-item-label {
            label {
              color: #595959;
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .ant-card-head {
        border-bottom: 1px solid #e1e8f0;
        min-height: 0;
        padding: 0;
        font-size: 13px;
        .ant-card-head-title,
        .ant-card-extra {
          .card-extra-action {
            > span {
              cursor: pointer;
            }
          }
          padding: 10px 0;
        }
      }
    }
  }
  .customer-info-collapse {
    padding: 0 24px;
    .ant-collapse-header {
      font-size: 13px;
      border-bottom: 1px solid #e1e8f0;
      height: 40px;
      padding: 0;
      font-weight: 500;
      color: #262626;
      line-height: 32px;
    }
    .ant-collapse-content-box {
      padding: 0;
      padding-top: 24px;
    }
  }
}
.flex-warp {
  .ant-descriptions-item-content {
    flex-wrap: wrap;
  }
}
.no-warp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.record-time-line {
  padding-top: 10px;
  .bizDayTime {
    font-weight: 500;
    height: 18px;
    color: #262626;
    line-height: 18px;
    margin-bottom: 7px;
    margin-top: 14px;
  }
  .ant-timeline-item-first {
    .ant-timeline-item-tail {
      border-left: 2px solid #0678ff;
    }
    .ant-timeline-item-head {
      background: #0678ff;
    }
  }
  .ant-timeline-item-tail {
    top: 11px;
    left: 3px;
    height: calc(100% - 14px);
  }
  .ant-timeline-item-head {
    background: #e1e8f0;
    // border: 3px solid #ffffff;
    border-radius: 8px;
    border: none;
    width: 8px;
    height: 8px;
  }
  .ant-timeline-item-content {
    flex-direction: column;
    margin-left: 40px;
    > div:last-child {
      color: #8c8c8c;
      margin-top: 12px;
    }
    > div:first-child {
      color: #8c8c8c;
      display: flex;
      flex-direction: column;
      > div:first-child {
        font-weight: 500;
        color: #595959;
      }
      > div {
        margin-bottom: 4px;
      }
    }
    display: flex;
    // margin-left: 20px;
  }
}
.add-follow-log-content {
  border-radius: 4px;
  border: 1px solid #0678ff;
  padding: 16px;
}
.customer-panel-descript {
  .ant-descriptions-item-label {
    width: 85px;
  }
}
.bgList-panel {
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: calc(100% - 48px);
}
