@blue-base: #0678ff;
@blue-1: #3893ff;
@blue-2: #6aaeff;
@blue-3: #b4d6ff;
@blue-4: #e6f1ff;
@blue-5: #f0f7ff;

@red-base: #ff4757;
@red-1: #ff6c79;
@red-2: #ffc7cc;
@red-3: #ffecee;

@yellow-base: #ffba00;
@yellow-1: #ffc833;
@yellow-2: #ffeab2;
@yellow-3: #fff8e5;

@green-base: #46c93a;
@green-1: #6bd461;
@green-2: #c7eec3;
@green-3: #ecf9eb;

@black-body: #f0f2f5;
@black-base: #262624;
@black-1: #595959;
@black-2: #8c8c8c;
@black-3: #bfbfbf;
@black-4: #e1e8f0;
@black-5: #f5f7fa;

@white-base: #ffffff;
